src/main/resources/schema/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="first_name"/>
                <xs:element type="xs:string" name="last_name"/>
                <xs:element name="address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="city"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:string" name="street"/>
                            <xs:element type="xs:int" name="zip"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>