src/main/resources/schema/xsd/person.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="user_first_name"/>
                            <xs:element type="xs:string" name="user_last_name"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="line1"/>
                            <xs:element type="xs:string" name="line2"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:int" name="postcode"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>